.batsu-app{
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.topbar-menu{
    text-align: center;
}
.error { border: 1px solid red; }

.topbar-links{
    margin: 0 15px;
}

.batsu-title{
    text-align: center;
    font-family: BarleyScript;
    color: red;
    font-style: oblique;
    font-size: 100px;
    margin: 50px 0 20px;
    text-shadow:
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 6px black;
}

.batsu-title-signup{
    text-align: center;
    font-family: BarleyScript;
    color: red;
    font-style: oblique;
    font-size: 100px;
    margin: 50px 0 50px;
    text-shadow:
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 6px black;
}

.login_page {
    color: black;
    text-align: center;
    padding: 20px;
}

.title_img {
    text-align: center;
    margin-top: 75px;
}

.homer{
    display: inline-block;
    width: 150px;
    border: 2px solid black;
}

.login-subtitles{
    margin: 10px 0 10px;

}

.signin-subtitles{
    margin: 10px 0;
}

.login-button{
    width: 100px;
    background-color: greenyellow;
    color: black;
    font-size: 15px;
    margin: 20px 0 0;
    padding: 5px 15px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow:
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 10px black;
}

.signup-top-div{
    text-align: center;
}

input, select{
    width: 185px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0;
    font-size: 20px;
    box-shadow:
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 10px black;
}

.form-control{
    box-shadow:
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 10px black;
}

#option_menu,
#option_menu option{
    width: 185px;
}

.signup-button{
    background-color: greenyellow;
    color: black;
    width: 100px;
    font-size: 15px;
    margin: 0px 10px 25px;
    padding: 5px 15px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow:
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 10px black;
}

.signup-button:visited {
    color: black;
}

.submit-signup-button{
    color: black;
    background-color: greenyellow;
    width: 100px;
    font-size: 15px;
    margin: 18px 10px 25px;
    padding: 5px 15px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow:
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 10px black;
}

.line_space{
    border: 1px solid black;
    width: 90%;
    height: 0;
    margin: 0 auto;
}

.dropdown{
    text-align: center;
    margin: 30px 0 0;
}

.drop_menu_button{
    box-shadow:
            3px 3px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 10px black;
}

.dropdown-menu{
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
}

.login_trouble{
    font-size: 13px;
    text-align: center;
    margin: 83px 0 5px;
    color: red;
}

.login_trouble-signup{
    font-size: 13px;
    text-align: center;
    margin: 46px 0 5px;
    color: red;
}

.title_bottom_links{
    text-align: center;
}

.title_bottom_links-signup{
    text-align: center;
    margin-bottom: 15px;
}

.title_routes{
    margin:0 25px;
}

.fb_button_outer{
    /*background: url("./imgs/fb_login.png");*/
    background-size: contain;
    height: 44px;
    width: 229px;
    margin-top:13px;
}


/* burger menu  */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/************friends list(brian)************/
.friends_picture_container {
    overflow: auto;
    white-space: nowrap;

}
.friends_picture_container img {
    height:100px;
    display: inline-block;
    text-align: center;
    padding: 14px;

}
.msg_container {
    border:1px solid black;
    display:inline-block;
}
.msg_container > p {
    border-bottom: 1px solid black;
}
/************************************/
/*@media screen and (min-width: 700px) {*/
    /*.batsu-app{*/
        /*font-family: Arial;*/
        /*width: 750px;*/
        /*margin: 0 auto;*/
        /*height: auto;*/
    /*}*/

    /*.batsu-title{*/
        /*font-family: kidzone;*/
        /*font-size: 85px;*/
        /*margin-top: 0;*/
        /*text-shadow:*/
                /*3px 3px 0 black,*/
                /*2px 2px 0 black,*/
                /*2px 2px 0 black,*/
                /*2px 2px 0 black,*/
                /*2px 2px 10px black;*/
    /*}*/

    /*.login_page {*/
        /*color: black;*/
        /*text-align: center;*/
        /*padding: 20px;*/
    /*}*/

    /*.title_img {*/
        /*text-align: center;*/
        /*margin-top: 120px;*/
    /*}*/

    /*.homer{*/
        /*display: inline-block;*/
        /*width: 300px;*/
        /*border: 2px solid black;*/
    /*}*/

    /*.login-subtitles{*/
        /*margin: 10px 0 0;*/
        /*font-size: 30px;*/
    /*}*/

    /*input{*/
        /*border: 1px solid black;*/
        /*border-radius: 5px;*/
        /*margin: 0;*/
        /*font-size: 30px;*/
    /*}*/

    /*.input-button{*/
        /*font-size: 25px;*/
        /*margin: 40px 0;*/
        /*padding: 5px 15px;*/
        /*border: 1px solid black;*/
        /*border-radius: 5px;*/
    /*}*/
/*}*/



/*@media screen and (min-width: 1000px) {*/
    /*.batsu-app{*/
        /*font-family: Arial;*/
        /*width: 100%;*/
        /*margin: 0 auto;*/
        /*height: 100%;*/
    /*}*/

    /*.batsu-title{*/
        /*font-family: kidzone;*/
        /*font-size: 120px;*/
        /*margin-top: 20px;*/
        /*text-shadow:*/
                /*3px 3px 0 black,*/
                /*2px 2px 0 black,*/
                /*2px 2px 0 black,*/
                /*2px 2px 0 black,*/
                /*2px 2px 10px black;*/
    /*}*/

    /*.login_page {*/
        /*color: black;*/
        /*text-align: center;*/
        /*padding: 20px;*/
    /*}*/

    /*.title_img {*/
        /*text-align: center;*/
        /*margin-top: 120px;*/
    /*}*/

    /*.homer{*/
        /*display: inline-block;*/
        /*width: 400px;*/
        /*border: 2px solid black;*/
    /*}*/

    /*.login-subtitles{*/
        /*margin: 10px 0 0;*/
        /*font-size: 40px;*/
    /*}*/

    /*input{*/
        /*border: 1px solid black;*/
        /*border-radius: 5px;*/
        /*margin: 0;*/
        /*font-size: 40px;*/
    /*}*/

    /*.input-button{*/
        /*font-size: 35px;*/
        /*margin: 40px 0;*/
        /*padding: 5px 15px;*/
        /*border: 1px solid black;*/
        /*border-radius: 5px;*/
    /*}*/
/*}*/