.batsu-app{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    overflow: auto;
}

.signup-page{
    overflow: auto;
}

.topHeader{
    width: 100vw;
    height: 55px;
    border-bottom: 2px black solid;
    box-shadow: 0 3px 8px 0 grey;
}

div.card{
    border: 0;
}

img.card-img-top {
    height:200px;
    width: 200px;
    margin: 0 auto;
}

h1.card-title{
    margin: 40px 0 20px;
    font-family: BarleyScript;
    font-size: 50px;
}

.topbar-menu{
    text-align: center;
}

.error { 
    border: 1px solid red; 
}

.topbar-links{
    margin: 0 15px;
}

.batsu-title{
    text-align: center;
    font-family: BarleyScript;
    color: red;
    font-style: oblique;
    font-size: 100px;
    margin: 50px 0 20px;
    text-shadow:
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 6px black;
}

.batsu-title-signup{
    text-align: center;
    font-family: BarleyScript;
    color: red;
    font-style: oblique;
    font-size: 50px;
    margin: 20px 0 20px;
    text-shadow:
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 6px black;
}

.login_page {
    color: black;
    text-align: center;
    padding: 20px 0 0;
}

.title_img {
    text-align: center;
    margin-top: 75px;
}

.login-subtitles{
    margin: 10px 0 10px;

}

.signin-subtitles{
    margin: 10px 0;
}

.login-button{
    width: 100px;
    background-color: greenyellow;
    color: black;
    font-size: 15px;
    margin: 20px 0 0;
    padding: 5px 15px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow:
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 10px black;
}

.topHeaderTitle{
    text-align: center;
    font-size: 30px;
    font-family: BarleyScript;
    color: red;
    font-style: oblique;
    margin: 0 0 16px;
    padding-top: 6px;
    text-shadow:
            1px 1px 0 black,
            1px 1px 0 black,
            1px 1px 0 black,
            1px 1px 0 black,
            1px 1px 3px black;
}

.signup-top-div{
    text-align: center;
}

input, select {
    width: 185px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0;
    font-size: 20px;
    box-shadow:
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 10px black;
}

.form-control{
    box-shadow:
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 10px black;
}

#option_menu,
#option_menu option{
    width: 185px;
}

.signup-button{
    background-color: greenyellow;
    color: black;
    width: 100px;
    font-size: 15px;
    margin: 10px 10px 20px;
    padding: 5px 15px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow:
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 10px black;
}

.submit-signup-button{
    color: black;
    background-color: greenyellow;
    width: 100px;
    font-size: 15px;
    margin: 18px 10px 25px;
    padding: 5px 15px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow:
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 10px black;
}

.line_space{
    border: 1px solid black;
    width: 90%;
    height: 0;
    margin: 0 auto;
    margin-bottom: 20px;
}

.login_trouble{
    font-size: 13px;
    text-align: center;
    margin: 83px 0 5px;
    color: red;
}

.login_trouble-signup{
    font-size: 13px;
    text-align: center;
    margin: 46px 0 5px;
    color: red;
}

.title_bottom_links{
    text-align: center;
}

.title_bottom_links-signup{
    text-align: center;
    margin-bottom: 15px;
}

.title_routes{
    margin:0 25px;
}

.fb-login-button{
    margin-top: 20px;

}




/* burger menu  */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 20px;
  height: 20px;
  left: 17px;
  top: 18px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background-color: darkred; 
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 25px;
  width: 25px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 31px;
  font-size: 1.15em;
}

.bm-menu-wrap{
    width: 175px;
    height: 250px;
    padding: 0;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

.event_title{
    margin-top: 30px;
    font-family: BarleyScript;
    font-size: 50px;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/************friends list(brian)************/
.friends_picture_container {
    overflow: auto;
    white-space: nowrap;
}

a.menu-item{
    font-family: BarleyScript;
    color: white;
    font-size: 30px;
    padding: 10px 0;
    text-shadow:
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 0 black,
            2px 2px 3px black;
}

nav.bm-item-list{
    text-align: left;
    padding: 0;
}

div.bm-menu{
    background-color: #cc0000;
    border-right: 1px solid black;
}
.friends_picture_container img {
    height:100px;
    display: inline-block;
    text-align: center;
    padding: 14px;

}
.msg_container {
    border:1px solid black;
    display:inline-block;
}
.msg_container > p {
    border-bottom: 1px solid black;
}
/************************************/
/*@media screen and (min-width: 700px) {*/
    /*.batsu-app{*/
        /*font-family: Arial;*/
        /*width: 750px;*/
        /*margin: 0 auto;*/
        /*height: auto;*/
    /*}*/

    /*.batsu-title{*/
        /*font-family: kidzone;*/
        /*font-size: 85px;*/
        /*margin-top: 0;*/
        /*text-shadow:*/
                /*3px 3px 0 black,*/
                /*2px 2px 0 black,*/
                /*2px 2px 0 black,*/
                /*2px 2px 0 black,*/
                /*2px 2px 10px black;*/
    /*}*/

    /*.login_page {*/
        /*color: black;*/
        /*text-align: center;*/
        /*padding: 20px;*/
    /*}*/

    /*.title_img {*/
        /*text-align: center;*/
        /*margin-top: 120px;*/
    /*}*/

    /*.homer{*/
        /*display: inline-block;*/
        /*width: 300px;*/
        /*border: 2px solid black;*/
    /*}*/

    /*.login-subtitles{*/
        /*margin: 10px 0 0;*/
        /*font-size: 30px;*/
    /*}*/

    /*input{*/
        /*border: 1px solid black;*/
        /*border-radius: 5px;*/
        /*margin: 0;*/
        /*font-size: 30px;*/
    /*}*/

    /*.input-button{*/
        /*font-size: 25px;*/
        /*margin: 40px 0;*/
        /*padding: 5px 15px;*/
        /*border: 1px solid black;*/
        /*border-radius: 5px;*/
    /*}*/
/*}*/



/*@media screen and (min-width: 1000px) {*/
    /*.batsu-app{*/
        /*font-family: Arial;*/
        /*width: 100%;*/
        /*margin: 0 auto;*/
        /*height: 100%;*/
    /*}*/

    /*.batsu-title{*/
        /*font-family: kidzone;*/
        /*font-size: 120px;*/
        /*margin-top: 20px;*/
        /*text-shadow:*/
                /*3px 3px 0 black,*/
                /*2px 2px 0 black,*/
                /*2px 2px 0 black,*/
                /*2px 2px 0 black,*/
                /*2px 2px 10px black;*/
    /*}*/

    /*.login_page {*/
        /*color: black;*/
        /*text-align: center;*/
        /*padding: 20px;*/
    /*}*/

    /*.title_img {*/
        /*text-align: center;*/
        /*margin-top: 120px;*/
    /*}*/

    /*.homer{*/
        /*display: inline-block;*/
        /*width: 400px;*/
        /*border: 2px solid black;*/
    /*}*/

    /*.login-subtitles{*/
        /*margin: 10px 0 0;*/
        /*font-size: 40px;*/
    /*}*/

    /*input{*/
        /*border: 1px solid black;*/
        /*border-radius: 5px;*/
        /*margin: 0;*/
        /*font-size: 40px;*/
    /*}*/

    /*.input-button{*/
        /*font-size: 35px;*/
        /*margin: 40px 0;*/
        /*padding: 5px 15px;*/
        /*border: 1px solid black;*/
        /*border-radius: 5px;*/
    /*}*/
/*}*/